# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea
.vscode
vendor
tmp

# OSX #
._*
.Spotlight-V100
.Trashes

# Windows #
Thumbs.db
Desktop.ini

# Build files
build/tmp/
.build
